<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. <br>
                                Pellentesque ullamcorper justo quis augue cursus,
                                non viverra risus laoreet. </p>
                        </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/gamesugg">Suggestion</a></li>
                    <li><a href="/comments">Comments</a></li>
                    <li><a href="/users/signin">Sign - In</a></li>
                    <li><a href="/comm">Communication</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Get Started</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>