<header class="#73A16C">
    <div class="header">
        <nav class="in_header">
            <div class="logo_container">
                <h1>GAME SUGGIE</h1>
            </div>
            <ul class="navigation">
                <li><a href="/">HOME</a></li>
                <li><a href="/games">GAMES</a></li>
                <li><a href="/gamesugg">SUGGESTION</a></li>
                <li><a href="/comments">COMMENTS</a></li>
                <li><a href="/users/signin">SIGN IN</a></li>
                <li><a href="/users/register">SIGN UP</a></li>
                <li><a href="/comm">COMMUNICATION</a></li>
            </ul>
        </nav>
    </div>
</header>