<title>Communication</title>
<div class="comm--in-container">
	<div class="comm-container">
		<form class="comm-form" >

			<h1>CONTACT US</h1>

			<p>Full Name</p>
			<input type="text" placeholder="Full Name">
			<p>E-Mail</p>
			<input type="e-mail" placeholder="E-Mail">
			<p>Your Message</p>
			<textarea name="comm" placeholder="Type your message..."></textarea>
			<button type="submit" name="submit">Send</button>

		</form>
	</div>
	<div class="comm-contact">
		<section>
			<i class="fa-solid fa-location-dot"></i>
			<h2>Address</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Ut purus diam, porttitor id tellus
				venenatis
			</p>
		</section>

		<section>
			<i class="fa-solid fa-phone"></i>
			<h2>Phone</h2>
			<p>+90 555 444 33 22</p>
		</section>

		<section>
			<i class="fa-solid fa-envelope"></i>
			<h2>E-mail</h2>
			<p>xxxyyy.zzz@gmail.com</p>
		</section>
	</div>
</div>
<div class="comm-main"></div>