<title>Game Suggie</title>
<div class="slider">
  <a href="#"><img src="images/frozen.jpg" height="800" width="1364">
    <p class="yazi">A platform that proposes games for children</p>
  </a>
  <a href="#"><img src="images/jerry.jpg" height="800" width="1364">
    <p class="yazi2">Rate, comment and have fun with games</p>
  </a>
</div>